<div class="header">
    
    <nav>
        <div class="row clearfix">
            <div class="logo">
                <a class="rL" routerLink="/">
                    <h3>CAKE&<span>MORE</span></h3>
                </a>
            </div>

            
            <ul class="main-nav animated slideInDown" id="check-class">
                <li><a routerLink="/">INÍCIO</a></li>
                <li><a routerLink="#">SOBRE NÓS</a></li>
                <li><a routerLink="#menu">MENU</a></li>
                <li><a routerLink="/">GALERIA</a></li>
                <li><a routerLink="/login">LOGIN</a></li>
            </ul>   
            <a href="#" class="mobile-icon" (click)="toggleMenu()"><i class="fa fa-bars"></i></a>
        </div>
    </nav>
    <div class="header-section">
        <div class="main-content-header">
            <h1>Bem-vindo à <span class="colorchange">Cake&More</span>.<br>A casa dos amantes de bolos...</h1>
            <div class="header-"></div>
            <a routerLink="/check" class="btn btn-full">clique para encomendar</a>
            <a routerLink="/more" class="btn btn-nav">Menu</a>
        </div>
    </div>
</div>
