<form #f="ngForm" (ngSubmit)="atualizar()">
    <div>
<h1> Atualizar</h1>
   <label for="nome">Nome</label>
   <input type="text" id="nome" name="nome" [(ngModel)]="dados.nome">

   <label for="descricao">Descrição</label>
   <input type="text" id="descricao" name="descricao" [(ngModel)]="dados.descricao">

   <label for="Valor">Valor</label>
   <input type="number" id="valor" name="valor" [(ngModel)]="dados.valor">

   <label for="quantidade">Quantidade</label>
   <input type="number" id="quantidade" name="quantidade" [(ngModel)]="dados.quantidade">

    </div>
    <button type="submit">Enviar</button>

</form>
