<app-menu></app-menu>
<section id="food-menu">

    <h2 class="food-menu-heading" id="menu">Menu</h2>
    <div class="food-menu-container container">
      <div class="food-menu-item">
        <div class="food-img">
          <img src="assets/1.jpg" alt="" />
        </div>
        <div class="food-description">
          <h2 class="food-titile">Bolo 1</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
          <p class="food-price">R$: 150</p>
          <button class="menu-button">Your Button Text</button>
        </div>
      </div>

      <div class="food-menu-item">
        <div class="food-img">
          <img
            src="/assets/bolo.jpg"
            alt="error"
          />
        </div>
        <div class="food-description">
          <h2 class="food-titile">Bolo 2</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
          <p class="food-price">R$: 150</p>
          <button class="menu-button">Your Button Text</button>
        </div>
      </div>
      <div class="food-menu-item">
        <div class="food-img">
          <img src="/assets/bolo2.jpg" alt="" />
        </div>
        <div class="food-description">
          <h2 class="food-titile">Bolo 3</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
          <p class="food-price">R$: 150</p>
          <button class="menu-button">Your Button Text</button>
        </div>
      </div>
      <div class="food-menu-item">
        <div class="food-img">
          <img src="/assets/bolocafe.jpg" alt="" />
        </div>
        <div class="food-description">
          <h2 class="food-titile">Bolo 4</h2>
          <p >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          </p>
          <p class="food-price">R$: 150</p>
          <button class="menu-button">Your Button Text</button>
        </div>
      </div>
      <div class="food-menu-item">
        <div class="food-img">
          <img src="/assets/2.jpg" alt="" />
        </div>
        <div class="food-description">
          <h2 class="food-titile">Bolo 5</h2>
          <p >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          </p>
          <p class="food-price">R$: 150</p>
          <button class="menu-button"><a routerLink="carrinho">Button Text</a></button>
        </div>
      </div>
      <div class="food-menu-item">
        <div class="food-img">
          <img src="/assets/cape.jpg" alt="" />
        </div>
        <div class="food-description">
          <h2 class="food-titile">Bolo 6</h2>
          <p >
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
          <p class="food-price">R$: 150</p>
          <button class="menu-button">Your Button Text</button>
        </div>
      </div>
    </div>
  </section>
  <div class="footer">
    <p>&copy; 2023 Cake&More. Todos os direitos reservados.</p>
    
    <!-- Links de mídia social (substitua pelos seus próprios links ou remova conforme necessário) -->
    <div class="social-icons">
      <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
      <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
      <!-- Adicione mais ícones conforme necessário -->
    </div>
  </div>

<!-- Restante do seu HTML --
<div class="gallery_section">
    <h1>GALERIA</h1>
</div>
<div class="Gallery">
    <div class="wrapper">
        <div class="image_gallery image_gallery_top">
            <div class="image_gallery_item">
                <img src="https://i.ibb.co/C8H6bTC/cake1.jpg">

                <div class="overlay">
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <div class="image_gallery_item">
                <img src="https://i.ibb.co/C8H6bTC/cake1.jpg">

                <div class="overlay">
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <div class="image_gallery_item">
                <img src="https://i.ibb.co/C8H6bTC/cake1.jpg">

                <div class="overlay">
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <div class="image_gallery_item">
                <img src="https://i.ibb.co/C8H6bTC/cake1.jpg">

                <div class="overlay">
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <div class="image_gallery_item">
                <img src="https://i.ibb.co/C8H6bTC/cake1.jpg">

                <div class="overlay">
                    <i class="fas fa-search"></i>
                </div>
            </div>
            
            <!-- Adicione mais itens da galeria aqui conforme necessário --
        </div>
        <div class="image_gallery image_gallery_bottom">
            <div class="image_gallery_item">
                <img src="https://i.ibb.co/C8H6bTC/cake1.jpg">

                <div class="overlay">
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <div class="image_gallery_item">
                <img src="https://i.ibb.co/C8H6bTC/cake1.jpg">

                <div class="overlay">
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <div class="image_gallery_item">
                <img src="https://i.ibb.co/C8H6bTC/cake1.jpg">

                <div class="overlay">
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <div class="image_gallery_item">
                <img src="https://i.ibb.co/C8H6bTC/cake1.jpg">

                <div class="overlay">
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <div class="image_gallery_item">
                <img src="https://i.ibb.co/C8H6bTC/cake1.jpg">

                <div class="overlay">
                    <i class="fas fa-search"></i>
                </div>
            </div>
            < Adicione mais itens da galeria aqui conforme necessário 
        </div>
    </div>
</div>
-->
<!--
    <section>
    <footer class="footer-distributed">
        <div class="footer-left">
            <h3>CAKE&<span>MORE</span></h3>
            <p class="footer-links">
                <a routerLink="/">INÍCIO</a> |
                <a routerLink="/cake-delivery">SOBRE NÓS</a> |
                <a routerLink="/how-to-order">MENU</a> |
                <a routerLink="/check-more">GALERIA</a> |
                <a routerLink="/sign-up">LOGIN</a>
            </p>
            <p class="footer-company-name">© CAKE&MORE .tech</p>
        </div>
        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>Cake&More, raipur nagar</span> maharastra, Pune - 414235</p>
            </div>
            <div>
                <i class="fa fa-phone"></i>
                <p>95075445456</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:cake&more.sb@gmail.com">cake&more.sb@gmail.com</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>Sobre a empresa</span>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo deserunt numquam quam Humanities.
            </p>
            <div class="footer-icons">
                <!-- Adicione links para suas redes sociais aqui 
            </div>
        </div>
    </footer>
</section>
-->
